// Navigation code here

.nav-wrapper{
    width: @main-width;
    height: 70px;
    .flex(center, center, column);
    background-color: @nav-bg;

    h1{
        font-size: 2.5rem;
        padding-bottom: 2%;
    }

    nav{
        width: @main-width;
        text-align: center;

        a{
            text-decoration: none;
            color: @nav-font;
            padding: 2%;
        }
    }
}